# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
week2/[Ll]ibrary/
week2/[Tt]emp/
week2/[Oo]bj/
week2/[Bb]uild/
week2/[Bb]uilds/
week2/[Ll]ogs/
week2/[Uu]ser[Ss]ettings/

week3/[Ll]ibrary/
week3/[Tt]emp/
week3/[Oo]bj/
week3/[Bb]uild/
week3/[Bb]uilds/
week3/[Ll]ogs/
week3/[Uu]ser[Ss]ettings/

week4/[Ll]ibrary/
week4/[Tt]emp/
week4/[Oo]bj/
week4/[Bb]uild/
week4/[Bb]uilds/
week4/[Ll]ogs/
week4/[Uu]ser[Ss]ettings/

week5/[Ll]ibrary/
week5/[Tt]emp/
week5/[Oo]bj/
week5/[Bb]uild/
week5/[Bb]uilds/
week5/[Ll]ogs/
week5/[Uu]ser[Ss]ettings/

week9/[Ll]ibrary/
week9/[Tt]emp/
week9/[Oo]bj/
week9/[Bb]uild/
week9/[Bb]uilds/
week9/[Ll]ogs/
week9/[Uu]ser[Ss]ettings/

week10/[Ll]ibrary/
week10/[Tt]emp/
week10/[Oo]bj/
week10/[Bb]uild/
week10/[Bb]uilds/
week10/[Ll]ogs/
week10/[Uu]ser[Ss]ettings/

week11/[Ll]ibrary/
week11/[Tt]emp/
week11/[Oo]bj/
week11/[Bb]uild/
week11/[Bb]uilds/
week11/[Ll]ogs/
week11/[Uu]ser[Ss]ettings/

week12/[Ll]ibrary/
week12/[Tt]emp/
week12/[Oo]bj/
week12/[Bb]uild/
week12/[Bb]uilds/
week12/[Ll]ogs/
week12/[Uu]ser[Ss]ettings/

week13/[Ll]ibrary/
week13/[Tt]emp/
week13/[Oo]bj/
week13/[Bb]uild/
week13/[Bb]uilds/
week13/[Ll]ogs/
week13/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
